/_build
/bin
/graphql_ppx*.exe
/node_modules
/tests_bucklescript/lib
/tests_bucklescript/graphql_schema.json
/tests_bucklescript/node_modules
/tests_apollo/lib
/**/.graphql_ppx_cache
/tests_apollo/graphql_schema.json
/tests_apollo/node_modules
/lib
/ppx
/graphql_ppx.exe
dune.flags
jbuild.flags
.merlin
_opam
